@tailwind base;
@tailwind components;
@tailwind utilities;

.radio-orange {
  width: 20px;
  height: 20px;
}
html {
  scroll-behavior: smooth;
}
.fixed-alert {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 30%;
  z-index: 999;
}

@media (max-width: 752px) {
  .fixed-alert {
    width: 90%;
  }
}
